language: php

php:
  - 5.4
  - 5.5

before_script:
  - composer self-update
  - composer update --dev


script:
  - php vendor/bin/phpcs --standard=PSR2 --encoding=utf-8 src
  - phpunit --configuration ./phpunit.xml.dist